.ubicacion{
  width: 80%;
  max-width: 1500px;
  text-align: center;
  h3{
    font-family: var(--font-parrafo);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  p{
    font-family: var(--font-subtitulo);
    text-align: justify;
    padding: 10px 15px;
  }
}