.carrucel_galeria_contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
  h1{
    font-family: var(--font-parrafo);
    text-transform: uppercase;
    margin: 5px 0 3px 0;
  }
}
.carrusel_galeria {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 400px;
  background-color: rgba(216, 220, 223, 0.548);
  border-radius: 15px;
  padding: 5px 10px;
  overflow: hidden;
}

.carrusel_item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: flex 0.8s ease;
  position: relative;
  /* background-color: var(--colo-oro); */
  /* background-color: #f5f5f5; */
}

.carrusel_parrafo {
  font-family: var(--font-parrafo);
  font-size: var(--font-size-parrafo);
  font-style: oblique;
  font-weight: bold;
}

.carrusel_item:hover {
  flex: 5;
}

.carrusel_item p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition: 1s ease;
  margin: 0;
  padding: 8px 12px;
  background-color: var(--color-oro);
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 5px;
  text-align: center;
}

.carrusel_item:hover p {
  display: block;
}

@media (max-width: 480px) {
  .carrusel_galeria {
    width: 98%;
    height: 300px;
  }
  
  .carrusel_item p {
    font-size: 14px;
    bottom: 10px;
  }
}