.error_contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 40px 0;
}
.error_contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  h2{
    margin-bottom: 15px;
    width: 80%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button{
    padding: 7px 10px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 0, 0.774);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px yellow ;
  }
}