.card {
  width: 250px;
  height: 450px; /* Altura fija para consistencia */
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(235, 240, 198, 0.904);
  transition: all 0.3s ease-in-out;
  margin: 5px;
  border: 0.5px solid rgb(179, 173, 173);
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  position: relative;
  img {
    width: 100%;
    height: 260px;
    /* object-fit: contain; Asegura que la imagen mantenga sus proporciones */
    margin-bottom: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  img:hover{
    scale: 1.03;
    cursor: pointer;
  }
}
.card_oferta{
position: absolute;
color: white;
font-family: var(--font-subtitulo);
background-color: red;
padding: 10px 5px;
text-transform: capitalize;
border-radius: 50%;
right: 10px;
top: 10px;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.2);
}

.card_informacion {
  background-color: lightsteelblue;
  padding: 10px;
  flex: 1; /* Ocupa todo el espacio restante */
  display: flex;
  flex-direction: column;
  
  h2 {
    margin: 5px 0;
    font-family: var(--font-subtitulo);
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  
  h3 {
    font-family: var(--font-parrafo);
    text-transform: capitalize;
    margin: 5px 0;
    font-size: 1rem;
  }
  
  p {
    font-family: var(--font-parrafo);
    margin: 5px 0;
    flex-grow: 1; /* Permite que el párrafo ocupe espacio disponible */
  }
}

.card_precio {
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin-top: auto; /* Empuja el precio hacia abajo */
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  p {
    font-family: var(--font-parrafo);
    font-size: var(--font-size-parrafo);
    font-weight: bold;
    color: #333;
  }
  
  button {
    padding: 8px 15px;
    font-family: var(--font-parrafo);
    font-size: var(--font-size-parrafo);
    color: white;
    background-color: var(--color-azul);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  button:hover {
    background-color: gold;
    transform: translateY(-2px);
  }
}