.telefonia_fallas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 10px;
  padding-top: 10px;
  border-radius: 15px;
  border: 0.4px solid var(--color-azul) ;
  overflow: hidden;
  transition: 50ms ease-in-out;
  img{
    width: 100px;
    height: 100px;
    margin: 3px;
  }
}
.telefonia_fallas:hover{
  scale: 1.02;
  box-shadow:0px 2px 6px 1px teal;
}
.telefonia_fallas_informacion{
  text-align: center;
  background-color: var(--color-azul);
  height: 100%;
  padding-bottom: 16px;
  padding-top: 10px;
  h2{
    font-family: var(--font-subtitulo);
    text-transform: uppercase;
    text-align: center;
  }
  p{
   text-align: justify;
   padding: 15px 5px;
   font-family: var(--font-subtitulo);
  }
  button{
    padding: 10px 15px;
    font-family: var(--font-subtitulo);
    text-transform: uppercase;
    border: none;
    background-color: var(--color-oro);
    border-radius: 10px;
    color: white;
    font-weight: bold;
  }
}