.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0 5px 0;

  background-image: url("./img/fondo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
}
.header_nav {
    /* background-color: rgba(255, 255, 255, 0.842); */
  background-color: rgba(207, 217, 221, 0.945);
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  padding: 15px 0;
  border-radius: 20px;
  overflow: hidden;
  height: 80px;

  img {
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    filter: drop-shadow(1px 1px 6px black);
  }

  ;

  img:hover {
    cursor: pointer;
    scale: 1.02;
  }

  button {
    background-color: var(--color-azul);
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    font-family: var(--font-boton);
    font-size: medium;
    color: white;
    font-weight: bold;
  }
}

.header_informacion {
  width: 80%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_informacion_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background-color: rgba(255, 255, 255, 0.452);
  border-radius: 20px;
  padding: 15px 0;
  width: 100%;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-titulo);
    margin-bottom: 10px;
  }

  ;

  p {
    text-align: center;
    font-size: larger;
    font-family: var(--font-parrafo);
  }

  button {
    background-color: rgba(255, 217, 0, 0.836);
    /* background-color: rgb(103, 178, 224); */
    margin: 10px auto;
    padding: 10px 15px;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: var(--font-boton);
    font-size: medium;
    font-weight: bolder;
  }

}

.header_informacion_imagen {
  overflow: hidden;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: red; */
  transition: 2.02s ease-in-out;
}

.header_informacion_imagen_1 {
  position: absolute;
  z-index: 3;
}

.header_informacion_imagen_2 {
  /* background-color: red; */
  width: 90%;
  height:80%;
  z-index: 5;
}