.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0 10px 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.header_nav {
  /* background-color: rgba(156, 187, 199, 0.404); */
  background: linear-gradient(135deg, rgba(5, 157, 218, 0.25) 0%, rgba(4, 150, 201, 0.15) 100%);
  backdrop-filter: blur(10px);
  box-shadow:
    0 8px 32px 0 rgba(4, 150, 201, 0.15),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);

  width: 70%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  padding: 15px 0;
  border-radius: 20px;
  overflow: hidden;
  height: 80px;

  img {
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    filter: drop-shadow(1px 1px 6px black);
  }

  ;

  img:hover {
    cursor: pointer;
    scale: 1.02;
  }

  button {
    background-color: var(--color-azul);
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    font-family: var(--font-boton);
    font-size: medium;
    color: white;
    font-weight: bold;
  }
}


.header_informacion {
  width: 80%;
  max-width: 1400px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_informacion_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.959);
  border-radius: 20px;
  padding: 15px 5px 10px 5px;
  width: 100%;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-subtitulo);
    margin-bottom: 10px;
  }

  h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-parrafo);
    margin-bottom: 10px;
  }

  p {
    text-align: justify;
    font-size: larger;
    font-family: var(--font-parrafo);
  }

  button {
    background-color: rgba(255, 217, 0, 0.836);
    /* background-color: rgb(103, 178, 224); */
    margin: 10px auto;
    padding: 10px 15px;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: var(--font-boton);
    font-size: medium;
    font-weight: bolder;
  }

}

.header_informacion_imagen {
  overflow: hidden;
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background-color: red; */
  transition: 2.02s ease-in-out;
}

.header_informacion_imagen_1 {
  position: absolute;
  z-index: 3;
}

.header_informacion_imagen_2 {
  /* background-color: red; */
  width: 90%;
  height: 80%;
  z-index: 5;
}

@media (max-width:480px) {
  .header {
    width: 100%;
    height: 180px;
    padding: 0;

    background-repeat: no-repeat;
    background-position: initial;
    background-size: cover;
  }

  .header_nav {

    width: 99%;
    justify-content: space-evenly;
    margin: 0;
    padding: 5px 0;
    border-radius: 20px;
    overflow: hidden;
    height: 50px;

    img {
      width: 80px;
    }

    ;

    button {
      padding: 5px 4px;
      font-size: small;
      font-weight: normal;
    }
  }


  .header_informacion {
    width: 100%;
    /* max-width: 1400px; */
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
    display: none;
  }

  .header_informacion_info {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

    /* background-color: rgba(255, 255, 255, 0.959); */
    /* border-radius: 20px; */
    padding: 10px 5px 7px 5px;
    /* width: 100%; */
    /* display: none; */

    h2 {
      /* text-transform: uppercase;
      text-align: center;
      font-family: var(--font-subtitulo);
      margin-bottom: 10px; */
      font-size: medium;
    }

    h3 {
      /* text-transform: uppercase;
      text-align: center;
      font-family: var(--font-parrafo);
      margin-bottom: 10px; */
      font-size: medium;
    }

    p {
      font-size: smaller;
      /* text-align: justify; */
      /* font-size: larger; */
      /* font-family: var(--font-parrafo); */
    }

    button {
      /* background-color: rgba(255, 217, 0, 0.836); */
      /* background-color: rgb(103, 178, 224); */
      margin: 5px auto;
      padding: 7px 10px;
      /* border: none;
      color: white; */
      /* border-radius: 10px; */
      /* font-family: var(--font-boton); */
      font-size: small;
      font-weight: normal;
    }

  }

  .header_informacion_imagen {
    overflow: hidden;
    width: 80%;
    height: 180px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
    /* background-color: red; */
    transition: 2.02s ease-in-out;
    /* display: none; */
  }

  .header_informacion_imagen_1 {
    position: absolute;
    z-index: 3;
    display: none;
  }

  .header_informacion_imagen_2 {
    /* background-color: red; */
    width: 90%;
    height: 80%;
    z-index: 5;
  }
}