.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: gray;
    color: white;
    font-size: smaller;
  }
}

.footer_caja {
  width: 100%;
  background-color: var(--color-oro);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  overflow: hidden;
}

.footer_imagen {
  position: absolute;
  width: 170px;
  border-radius: 50%;
  /* border: 1px solid black; */
  padding: -12px;
  background-color: rgb(255, 255, 255);
}

.footer_imagen:hover{
  cursor: pointer;
}

.footer_redes {
  /* background-color: var(--color-oro); */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0;
  padding: 0;

  h2 {
    font-family: var(--font-parrafo);
    font-size: var(--font-size-subtitulo);
    text-transform: uppercase;
    margin: 10px 0;
  }
}

.footer_redes_iconos {
  display: grid;
  gap: 1em;
}

.footer_icono {
  width: 47px;
  height: 47px;
  margin: 5px;
  /* transition: 1.02s ease; */
}

.footer_icono:hover {
  cursor: pointer;
  scale: 1.2;
}

.footer_contacto {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-azul);
  padding: 15px 0;

  h2 {
    font-family: var(--font-parrafo);
    font-size: var(--font-size-subtitulo);
    text-transform: uppercase;
    margin: 10px 0;
  }

  form {
    display: grid;
    width: 300px;

    button {
      padding: 5px 10px;
      display: block;
      font-family: var(--font-parrafo);
      font-size: var(--font-size-parrafo);
      width: 120px;
      border: none;
      border-radius: 15px;
      text-transform: uppercase;
      margin: 5px 0;
    }
  }

  .footer_contacto_input {
    display: grid;
    margin-bottom: 5px;
    width: 100%;

    label {
      font-family: var(--font-parrafo);
      font-size: var(--font-size-parrafo);
    }

    input {
      width: 100%;
      padding: 3px 5px;
      font-family: var(--font-parrafo);
      font-size: var(--font-size-parrafo);
    }

    textarea {
      width: 100%;
      resize: none;
      padding: 3px 5px;
      font-family: var(--font-parrafo);
      font-size: var(--font-size-parrafo);
    }
  }
}

@media (max-width:480px) {
  .footer {
    height: auto;
    overflow: hidden;
  }

  .footer_caja {

    flex-direction: column;
  }

  .footer_imagen {
    display: none;
  }

  .footer_redes {
    width: 100%;
    height: 100%;
    flex-direction: column;

    h2 {
      font-size: medium;
    }
  }

  .footer_redes_iconos {
    display: flex;
    gap: 1em;
    margin-bottom: 10px;
  }



  .footer_icono:hover {
    cursor: pointer;
    scale: 1.2;
  }

  .footer_contacto {
    width: 100%;
    height: 100%;
    padding: 5px 0 10px 0;

    h2 {
      font-size: medium;

    }

    form {
      width: 80%;
    }

  }

}