.pagina_precio{
  max-width: 500px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-oro);
  flex-direction: column;
  margin: 10px ;
  overflow: hidden;
  border-radius: 20px;
  transition: 0.4s ease-in-out;

  img{
    width: 100%;
    height: 400px;
    object-fit: fill

  };
}
.pagina_precio:hover{
  scale: 1.01;
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px;

}
.pagina_precio_info{
  h2{
    margin: 10px 5px;
  }
  p{
    text-align: justify;
    margin: 0 5px;
    font-family: var(--font-parrafo);
  }
}
.pagina_precio_precio{
  margin: 10px 0;
  display: flex;
  align-items: center;
  p{
    font-size: 32px;
    font-family: var(--font);
    font-family: var(--font-parrafo);
  }
  span{
    font-size: large;
    font-weight: bold;
    font-family: var(--font-titulo);
    color: green;
  }
}