:root{
  --font-titulo:'Courier New', Courier, monospace;
  --font-subtitulo:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-boton:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --font-parrafo:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --color-azul: rgb(103, 178, 224);
  --color-oro:rgba(255, 217, 0, 0.747);

  --font-size-titulo:20px;
  --font-size-subtitulo:18px;
  --font-size-parrafo:15px;
}